
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 33% 97%;
    --foreground: 210 50% 20%;

    --card: 0 0% 100%;
    --card-foreground: 210 50% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 50% 20%;

    --primary: 201 57% 38%;
    --primary-foreground: 210 40% 98%;

    --secondary: 189 28% 53%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 133 43% 46%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 201 57% 38%;

    --radius: 0.5rem;

    --sidebar-background: 201 57% 38%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 189 28% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 33% 98%;
    --sidebar-accent-foreground: 210 50% 20%;
    --sidebar-border: 201 40% 30%;
    --sidebar-ring: 189 28% 53%;
  }

  .dark {
    --background: 210 50% 13%;
    --foreground: 210 40% 98%;

    --card: 210 50% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 210 50% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 201 57% 38%;
    --primary-foreground: 210 40% 98%;

    --secondary: 189 28% 40%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 133 43% 36%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 189 28% 53%;
    
    --sidebar-background: 210 50% 15%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 201 57% 38%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 50% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 210 50% 25%;
    --sidebar-ring: 189 28% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}
